<div class="main users-index">
	<div class="container">
		<h1 class="users_heading">Users List</h1>
		<% @users.each do |user| %>
			<div class="users_index-item">
				<div class="user-left">
					<img src="">
				</div>
				<div class="user-right">
					user.name
				</div>
			</div>
		<% end %>
	</div>
</div>