<div class="main user-new">
	<div class="container">
		<div class="form-heading">New User</div>
		<div class="form users-form">
			<div class="form-body">
				<%= form_tag '/users/create' do %>
					<label for="name">Name</label>
					<input type="text" name="name" id="name" required>
					<label for="email">Email</label>
					<input type="email" name="email" id="email" required>
					<input type="submit" value="New">
				<% end %>
			</div>
		</div>
	</div>
</div>