<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
				<img src="" alt="">
				User Name
			</div>
			<p><%= @post.content %></p>
			<div class="post-time"><%= @post.created_at %></div>
			<div>
				<%= link_to 'Edit', "/posts/#{@post.id}/edit" %>
				<%= link_to 'Delete', "/posts/#{@post.id}/destroy", method: :post, data: {confirm: 'Are you sure?'} %>
			</div>
			<div>
				
			</div>
		</div>
	</div>
</div>